@model ContactManager.Models.ContactList

@{
    ViewData["Title"] = "Index";
}

@foreach(var contact in Model.Contacts)
{
    <div class="card col-4 align-content-center">
        <div class="card-header"> ID: @contact.Id</div>
        <div class="card-body">Company: @contact.Company</div>
        <div class="card-body">Name:  @contact.Name</div>
        <div class="card-body">Phone Number: @contact.PhoneNumber</div>
        <div class="card-body">Email: @contact.Email</div>
        <div class="card-footer">
            <a asp-controller="Contact" asp-action="EditContact" asp-route-id="@contact.Id" class="btn btn-info">Edit</a>
            <a asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@contact.Id" class="btn btn-danger">Delete</a>
        </div>
    </div>
   
}


