@model ContactManager.Models.ContactList

@{
    ViewData["Title"] = "Index";
}

@foreach(var contact in Model.Contacts)
{
    <div class="card col-4 align-content-center">
        <div class="card-header">@contact.Id</div>
        <div class="card-body"> @contact.Name</div>
        <div class="card-body"> @contact.Company</div>
        <div class="card-body"> @contact.PhoneNumber</div>
        <div class="card-body"> @contact.Email</div> 
    </div>
   
}


