@model ContactManager.Models.Contact

@{
    ViewData["Title"] = "ViewContact";
}

<h1>ViewContacts</h1>

@*<div class="container">
    <div class="row">
        @foreach (Contact contact )//make sure to link the array here.
        {
            <div class="col-sm-6 col-lg-3 py-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Company: @contact.Company</h5>
                        <p class="card-text">Id: @contact.Id</p>
                        <p class="card-text">Name: @contact.Name</p>
                        <p class="card-text">Phone Number: @contact.PhoneNumber</p>
                        <p class="card-text">Email: @contact.Email</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
